<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Waste Management Service</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
{{>header}}

    <main>
        <h1>Welcome to our Online Waste Management Service</h1>
        <p>We provide a range of waste management solutions for businesses and households, including recycling,
            composting, and garbage disposal.</p>
        <img src="/images/waste_management.png" alt="Waste Management Image">
    </main>

{{>footer}}
</body>

</html>