/* table{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: auto;
}

tr{
    border-width: 1px;
    text-align: center;
}

#create-order-image{
    width: 50px;
}

#create-order-image:hover{
    width: 50px;
    cursor: pointer;
}

#create-order-form{
    position: absolute;
    z-index: 10;
    display: none;
    color: white;
    background-color: black;
    padding: 10px;
} */

/* ///////////////////////////////////////////////////////////////////////////// */

/* table {
    border-collapse: collapse;
    border: 2px solid #999;
    width: 100%;
    margin-bottom: 1em;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #444;
}

th, td {
    border: 1px solid #999;
    padding: 0.5em;
    text-align: center;
}

th {
    background-color: #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#create-order-image {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
}

#create-order-image:hover {
    transform: scale(1.2);
}

#create-order-form {
    position: absolute;
    z-index: 10;
    display: none;
    color: white;
    background-color: #444;
    border-radius: 5px;
    padding: 1em;
    font-family: Arial, sans-serif;
    font-size: 14px;
} */

/* ///////////////////////////////////////////////////////////////////////////// */

/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Greeting */
.greet {
    background-color: #fff;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px #fff;
}

.required-field,
.err {
    font-size: 0.8rem;
    color: #ff5a5f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}


/* Tables */
table {

    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    table-layout: fixed;
    /* border-collapse: collapse;
    width: 100%; */
}

.table-headings {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

table tr:not(.table-headings):hover {
    background-color: #f5f5f5;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.map-icon{
    margin: auto;
    text-align: center;
    width: 45px;
}

/* Accepted Requests Table */
.accepted-requests-label,
.available-requests-label,
.pending-requests-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    font-size: 24px;
}

/* Create Order */
.create-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-right: 100px;

}

.create-order-icon {
    display: flex;
    align-items: center;
}

#create-order-image {
    width: 50px;
    margin-right: 10px;
}

#create-order-image:hover {
    cursor: pointer;
}

#create-order-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* position: absolute; */
    z-index: 10;
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    display: none;
    width: 300px;
}

#create-order-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#create-order-form input[type="text"],
#create-order-form input[type="datetime-local"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#create-order-form button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

#create-order-form button[type="submit"]:hover {
    background-color: #3e8e41;
}

#create-order-form span {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.logout-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #c40000;
}

#close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-button:hover {
    cursor: pointer;
    background-color: #bbb;
}













/* Header */

header {
    background-color: #0079bf;
    color: #fff;
    padding: 10px;
    height: 30px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #000;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    padding: 10px;
}

footer p {
    margin: 0;
    padding: 0;
}