/* Body */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

/* Header */

header {
    background-color: #0079bf;
    color: #fff;
    padding: 10px;
    height: 30px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #000;
}

/* Main */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

main h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

main p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
}

main img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    padding: 10px;
}

footer p {
    margin: 0;
    padding: 0;
}